#menu {
  height: 5em;
  width: 95%;
  padding-left: 5%;
  position: relative;
  top: 0em;
  left: 0em;
  right: 0em;
  bottom: 0em;
  border-style: solid;
  border-radius: 2em;
  border-width: 0.2em; }

#content {
  height: 40em;
  width: 95%;
  padding-left: 5%;
  position: relative;
  top: 2em;
  left: 0em;
  right: 2em;
  bottom: 0em;
  border-style: solid;
  border-radius: 2em;
  border-width: 0.2em; }

footer {
  text-align: center;
  position: relative;
  top: 4em;
  left: 0em;
  right: 2em;
  bottom: 0em; }

body {
  background-color: white; }
