#section1 {
  height: 10em;
  width: 10em;
  top: 2em; }

#section2 {
  height: 12em;
  width: 12em;
  left: 2em; }

/*
#section1{
	height : 10em;
	width : 10em;
	top: 2em;
}
#section2{
	height : 12em;
	width : 12em;
	left: 2em;
}
*/
