#mybox1 {
  position: relative;
  fds: "#mybox1"; }

#mybox2 {
  position: relative;
  fds: "#mybox1"; }

#mybox3 {
  position: relative;
  fds: "#mybox1"; }

#mybox4 {
  position: relative;
  fds: "#mybox1"; }
