hr {
  position: "relative";
  top: 5em;
  height: 0.1 em;
  width: 1 em;
  color: white;
  background-color: black; }

#mybox1 {
  position: "relative";
  top: 10em;
  height: 15 em;
  width: 15 em;
  color: white;
  background-color: black;
  top: 10em;
  left: 30em;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.1em;
  text-align: center; }
